:root {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background-color: #f5f5f5;
    --line-height: 4.5rem;
    --font-size-large: 3rem;
    --font-size-medium: 2rem;
    --font-size-normal: 1rem;
    --padding-small: 0.5rem;
    --margin-small: 0.5rem;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    font-size: var(--font-size-large);
}

#exercises, 
#weightsContainer {
    margin: 1rem 0;
}

#exercises,
#workouts {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#workout {
    position: relative;
    border: 2px solid var(--button-bg-color);
    border-radius: var(--padding-small);
    padding: var(--line-height) var(--padding-small) var(--padding-small) var(--padding-small);
    margin: var(--margin-small);
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 96%;
}

.exercise {
    position: relative;
    margin-bottom: 0.5rem;
    background-color: rgb(209, 209, 209);
}

.exercise.selected {
    background-color: #ca6302;
}

.exercise-name {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-right: 5rem;
}

.button {
    border: none;
    border-radius: var(--padding-small);
    padding: var(--padding-small) var(--padding-small);
    font-weight: bold;
    font-size: var(--font-size-large);
    cursor: pointer;
    user-select: none;
}

.workoutButton {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
    padding: var(--padding-small);
    border: none;
    border-radius: var(--padding-small);
    margin: var(--margin-small) 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
}

.addButton {
    background-color: #28a745;
}

.record {
    border: 1px solid #000;
    margin: var(--margin-small) 0;
    padding: var(--margin-small);
    font-size: var(--font-size-large);
    position: relative;
}

.record-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--padding-small) 0;
}

.record-title {
    font-weight: bold;
}

.record-notes {
    font-style: italic;
    grid-column: 2 / 4;
}

.exercise-record {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--padding-small) 0;
    /* vertically center elements in cells */
    align-items: center;
    
}

.exercise-record:nth-child(even) {
    background-color: #f0f0f0;
}

.exercise-weight-record,
.exercise-reps-record {
    text-align: right;
    font-family: monospace;
}

.reuse-weights-selection {
    display: inline-block;
    font-size: var(--font-size-large);
    padding: var(--padding-small);
    border-radius: var(--padding-small);
    border: 1px solid var(--button-bg-color);
    margin: var(--margin-small) var(--margin-small) var(--margin-small) 0;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reuse-weights-label {
    display: inline-block;
    font-size: var(--font-size-large);
    margin: var(--margin-small) var(--margin-small) var(--margin-small) 0;
}

span#workoutTitle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-large);
    font-weight: bold;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: var(--padding-small) 0px;
    border-radius: var(--padding-small);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.disabled {
    color: grey;
    cursor: no-drop;
}

#customPromptForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#customPromptForm > button {
    font-size: var(--font-size-large);
}

.customInput {
    max-width: 50%;
    font-size: var(--font-size-large);
    text-align: center;
}

.header-container,
.total-weight-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small);
    border-radius: var(--padding-small);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.collapsed {
    height: 0rem;
    overflow: hidden;
}

.weights-list:nth-child(even) {
    background-color: #e0e0e0;
}

.item {
    display: grid;
    grid-template-columns: minmax(150px, 3fr) 1fr 1fr 1fr;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: var(--padding-small);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2.25rem;
    color: #333;
    user-select: none;
    margin: 0 var(--margin-small);
}

.item-name,
.item-quantity {
    text-align: right;
    font-family: monospace;
}

.item-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-weight {
    color: #555;
}

.item-icon {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.item-quantity {
    color: #777;
    font-style: italic;
    margin: 0 var(--margin-small);
}

.item-quantity-bar {
    height: 70%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    border: 1px solid #777;
}

.item-quantity-bar-filled {
    background-color: var(--button-bg-color);
}

.item:hover {
    background-color: #eef;
    border-color: #ccd;
}

.item-adjust-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-adjust-button {
    line-height: 5rem;
    font-size: var(--font-size-large);
    font-weight: bold;
    padding: 0;
    width: 50%;
    background-color: var(--button-bg-color);
    width: 50%;
}

.item-name,
.item-quantity,
.item-adjust-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}